body {
    background: rgb(232,172,68);
    color: yellow;
}

p#counter {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.65);
    font-size: 5em;
    padding: 0;
    margin: 0;
    text-align: center;
}

body {
    color: rgb(76,74,82);
    font-size: 3em;
    font-family: 'Open Sans';
    font-weight: 100;
}

h1 {
    background: white;
    padding: 0.21em;
    border-radius: 2px;
    box-shadow: 2px 2px 5px 0px black;
}

.console * {
  font-family: 'Source Code Pro';
  font-weight: 100;
}

.console {
    background: #232323;
    border-radius: 2px;
    border: 2px solid black;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.6);
    padding: 10px;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

.console .title {
    margin: 0;
    padding: 0.5em 0em;
    color: rgba(255, 255, 255, 0.23);
    font-size: 0.5em;
    text-align: center;
}

.console ul {
    list-style-type: none;
    color: white;
    font-size: 0.5em;
    padding: 0;
    margin: 0;
    height: calc(100% - 150px);
    overflow-y: scroll;
}

.console ul .error {
  color: rgb(255, 87, 0);
}

.console input {
    width: 100%;
    padding: 0px;
    margin: 0;
    outline: none;
    border: 0px;
    font-size: 1em;
    margin-top: 0.5em;
    padding: 0.2em 0em;
}
