body {
    background: rgb(232,172,68);
    color: yellow;
}

p#counter {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.65);
    font-size: 5em;
    padding: 0;
    margin: 0;
    text-align: center;
}

body {
    color: rgb(76,74,82);
    font-size: 3em;
    font-family: 'Open Sans';
    font-weight: 100;
}

h1 {
    background: white;
    padding: 0.21em;
    border-radius: 2px;
    box-shadow: 2px 2px 5px 0px black;
}
